- @title = "Edit #{resource_name.to_s.humanize}"
.container
  .row
    .center_panel
      .panel.panel-default.only

        .panel-heading
          = @title

        .panel-body

          = form_for resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal do |f|

            / = devise_error_messages!

            = f.email_field :email, autofocus: true

            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for: 
                = resource.unconfirmed_email

            = f.password_field :current_password
            = f.password_field :password, autocomplete: "off"
            = f.password_field :password_confirmation, autocomplete: "off"

            = f.submit "Update"

      - if devise_mapping.omniauthable?
        .panel.panel-default.only
          .panel-heading
            Connect your accounts

          .panel-body
            %ul
              - resource_class.omniauth_providers.each do |provider|
                - if resource.identities.where( :provider => provider ).first
                  %li= link_to "Reconnect with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary"
                - else
                  %li= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary"

      .panel.panel-default.only

        .panel-heading
          Cancel my account

        .panel-body
          %p
            Unhappy? 
            = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"