- @title = "Sign Up"
.container
  .row
    .center_panel
      .panel.panel-default.only

        .panel-heading
          Sign up

        .panel-body

          = form_for resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal do |f|

            / = devise_error_messages!

            = f.email_field :email, autofocus: true
            = f.password_field :password, autocomplete: "off"
            = f.password_field :password_confirmation, autocomplete: "off"

            - if devise_mapping.rememberable?
              = f.check_box :remember_me

            = f.submit "Sign Up"

          %p.text-right
            = render partial: "devise/shared/links"