.container
  .row
    .profile.center
      = panel title: 'Forgot your password?', context: :primary do
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|
          .panel-body
            = f.error_notification

            .form-inputs
              = f.input :email, required: true, autofocus: true
          .panel-footer
            .buttons
              = f.button :submit, "Send me reset password instructions", class: "btn-primary"

            .links
              = render "devise/shared/links"