.container
  .row
    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .panel.panel-default.only

        .panel-heading
          Add Email

        .panel-body
          = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
            - if @show_errors && current_user.errors.any?
              #error_explanation
                - current_user.errors.full_messages.each do |msg|
                  = msg
                  %br

            .form-group                  
              = f.label :email, :class=>'control-label col-sm-3'
              .col-sm-9= f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@me.com'

              %p.col-sm-9.help-block
                Please confirm your email address. No spam.

            .form-group
              .col-lg-9.col-lg-offset-3
                = f.submit "Continue", :class=>'btn btn-primary form-control'
