- @lighter ||= ""
- if !current_article.data['header_image'].nil? && current_article.data['header_image'] != ""
  - @lighter = "lighter"
  .banner
    = image_tag current_article.data['header_image'], class: "fadeInDown animated"

%div{ class: "article-header #{@lighter}" }
  %h1= current_article.title
  %h2= current_article.data['subtitle']
  - if File.exists? "source/images/avatar.jpg"
    .avatar
      %a{ href: "/" }
        = image_tag "avatar.jpg", class: "img-responsive"
  %h3= link_to data['site']['title'], "/"
  %span.disqus-comment-count{ "data-disqus-identifier" => (current_article.data['disqus_id'] || current_article.path ) }
