---
title: Tags
---
.timeline
  .post
    .post-date
    .post-title
      %h2= "#{tagname.capitalize} articles"
  - page_articles.each do |article|
    .post
      .post-date
        - unless article.is_a? ::Middleman::Blog::Drafts::DraftArticle
          %p= article.date.strftime( '%b %e' )
        - else
          %p.draft Draft
        - if data['site'].disqus_shortname
          %p.disqus-comment-count{ "data-disqus-identifier" => (article.data['disqus_id'] || article.path ) }
      .post-title
        %p.title= link_to article.title, article
        - if article.data['subtitle']
          %p.subtitle= article.data['subtitle']
        - article.tags.sort.each do |tag|
          .tag= link_to tag, tag_path( tag )
