!!! 5
%html.no-js
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

    = display_meta_tags :site => 'Seed Site', :title => page_title, :reverse => true

    %meta{ :name => 'description', :content => '' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }/

    = stylesheet_link_tag 'splash', :media => nil

    -# Append your own using content_for :stylesheets
    = yield :stylesheets
    = javascript_include_tag 'modernizr'

    = csrf_meta_tag

  %body{ "data-spy" => "scroll", "data-target" => "#about"}
    = render 'chromeframe'
    = render 'flashes'

    %header#top.navbar-default.navbar-fixed-top{:role=>:banner}
      .navbar-header
        %button.navbar-toggle{:type=>:button, 'data-toggle'=>:collapse, 'data-target'=>'.navbar-collapse'}
          %span.sr-only Toggle navigations
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '#', :class=>'logo' do
          =image_tag 'https://s3.amazonaws.com/assets.happyfuncorp.com/splash-assets/sw_logo.png', alt: "spork wrangler", class: "img-responsive logo"
      %nav.pull-right.collapse.navbar-collapse{:role=>:navigation}
        %ul.nav.navbar-nav
          %li= link_to 'about', '#about'
          %li= link_to 'team', '#team'
          %li= link_to 'contact', '#contact'

    = yield


    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
    = javascript_include_tag 'scrollReveal.js'
    :javascript
        $(function() { 
          window.scrollReveal = new scrollReveal();
          $("#top ul li a[href^='#']").on('click', function(e) {
            e.preventDefault();

            // store hash
            var hash = this.hash;

            // animate
            $('html, body').animate({
              scrollTop: $(this.hash).offset().top - 95  // 75 is navbar height
            }, 300, function(){
              // when done, add hash to url
              // (default click behaviour)
              window.location.hash = hash;
            });
          });
        });
