%header#top.navbar.navbar-fixed-top.navbar-inverse{:role=>:banner}
  .container
    .navbar-header
      %button.navbar-toggle{:type=>:button, 'data-toggle'=>:collapse, 'data-target'=>'.navbar-collapse'}
        %span.sr-only Toggle navigations
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, :class=>'navbar-brand' do
        %span.glyphicon.glyphicon-cloud
        App name
    %nav.collapse.navbar-collapse{:role=>:navigation}
      %ul.nav.navbar-nav
        %li= link_to 'Contact', '#'
        %li= link_to 'Blog', '#'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to 'Sign Out', user_session_path, :method=>:destroy
        - else
          %li= link_to 'Sign In', new_user_session_path
          %li= link_to 'Sign Up', new_user_registration_path
