= navbar position: :top do
  = vertical do
    = link_to data['site']['title'], '/'
  = horizontal do
    = nav do
      = link_to "Home", '/'
      = link_to '/contact' do    
        %span.glyphicon.glyphicon-hand-right
        Contact Us!
    = nav class: 'navbar-right' do
      = link_to "About Us", '/about-us'
